<!DOCTYPE html>
<html>
<head>

    <title>Imanta Weblapa</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  - <em>Imanta </em>.NET web aplikācija</p>
        </footer>
    </div>

</body>
</html>
