<!-- šajā vietā norādam, kāds modelis tiek izmantots-->
   <!-- ļauj html rakstīt ar C#-->
@model List<AdvertsWebApp.Models.Advert>
<h1>Visi sludinājumi</h1>

@foreach (var ad in Model)
{
    <p>
        <a href="/Home/Advert?advertId=@ad.AdvertId">@ad.Name (@ad.Price  eur)</a>
    </p> 
    // ? adreses ceļā nozīmē, kādi parametri tiek ievadīti, lai atrastu vajadzīgo (kā argumenti funkcijā)
}

@Html.ActionLink("pievienot jaunu sludinājumu", "CreateAdvert")

